<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gráficas Externas</title>
</head>
<body>
	<h1>Gráficas Externas</h1>
	<h3>Se muestran las gráficas de los valores de conversión de cotización guardados en las bases de datos del usuario</h3>
	<form action="registro" method="post">
        Email: <input type="email" name="email"/><br/>
        Nombre usuario: <input type="text" name="username"/><br/>
        Clave: <input type="password" name="clave"/><br/></p>
        <input type="submit" value="Volver a la página principal" />
    </form>

</body>
</html>
