<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cambio EUR-USD</title>
</head>
<body>
	<h1 align=center>Conversión cotización entre euro y dolar (€ - $)<h1>
	{% if session['name'] %}
		<h3 align=center>
			<div><p>Sesión con el usuario {{ session['name'] }}</div></p>
			<div><p><a href="logout">SALIDA</a></p></div></h3>
        	<div>
            		<h3 align=center><form action="medialocal" method="post">
                		<input type="submit" value="Media Local">
			</form>
			<form action="mediaremoto" method="post">
				<input type="submit" value="Media Remoto">
			</form>
			<form action="graficasexternas" method="post">
				<input type="submit" value="Gráficas Externas">
			</form></h3>
        	</div>
		<h4 align=center>
        		<p>Medias solicitadas en Local: {{ medias_local }}</p>
        		<p>Medias solicitadas en Remoto: {{ medias_remoto }}</p></h4>
    	{% endif %}
    	{% if media %}
        	<h4 align=center><p>La media solicitada es {{ media }}</p></h4>
    	{% endif %}
    	<h4 align=center>El valor en estos momentos es de: {{ cambio }}</h4>
    	{% if not session['name'] %}
        	<h3 align=center><a href="registro">REGISTRO</a>
        	<a href="login">ENTRADA</a></h3>
    	{% endif %}
</body>
</html>
